*{ margin:0; padding: 0;}
.MovieForm {
    width: 1000px;
    height: 100vh;
    border: 1px solid none;
    overflow: auto;
    background-color: rgba(238, 238, 238, 0.6);
    ul {
        display: flex;
        margin: 20px;
        justify-content: center;
        li {
            list-style: none;
            margin: 20px 40px;
            font-size: 20px;
            :hover { 
                     border-bottom: 1px solid #111;
            }
            a {
            text-decoration: none;
            color: #111;
            padding: 10px;
            }
        }
    }
    .Movie_All.on {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .MovieForm {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .MovieForm {
        width: 100%;
        ul {
            margin: 8px;
            li {
                font-size: 16px;
            }
        }
    }

}

@media screen and (max-width: 512px) {
    .MovieForm {
        width: 100%;
        height: 100%;
        ul {
            flex-direction: column;
            li {
            text-align: center;
            }
        }
    }
}
