.Movie_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    article{
        margin: 30px;
        width: 370px;
        background-color: white;
        .card_top { 
            display: flex;
            div {
                margin: 20px 30px;
                h3,h4 {
                    margin-bottom: 10px;
                }
            }
        img{ width: 120px; transition: .4s; cursor: pointer;
             position: relative; top: -15px; right: -10px;
             box-shadow: 5px 5px 10px rgba(0,0,0,.5);
             :hover {
                opacity: 0.7;}
            }
        }
        .card_bottom {
            height: 40px;
            padding: 0 10px 0px 10px;
            .card_nav {
                display: flex;
                justify-content: space-around;
                a {
                    padding: 5px;
                    margin: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    color: #111;
                }
            }   
        }
    }
}  